{% extends "base.html" %}

<!-- Page title -->
{% block title %}
{% if user == shelf_owner %}My {% else %}{{ shelf_owner}}'s {% endif %}Author
List {% endblock %}

<!-- Page content -->
{% block content %}

<section class="container">
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-evenly book-shadow">
    {% if user == shelf_owner %}
    <a class="links mb-2 mb-md-0" href="{% url 'shelf:myshelf' user.pk %}"><i class="fa-solid fa-arrow-left"></i>
      Back to My Shelf
    </a>
    <a class="btns mb-2 mb-md-0" href="{% url 'myauthors:add-myauthor' %}"><i class="fa-solid fa-plus"></i>
      Add An Author
    </a>
    {% else %}
    <a class="links mb-2 mb-md-0" href="{% url 'shelf:myshelf' shelf_owner.pk %}"><i class="fa-solid fa-arrow-left"></i>
      Back to {{ shelf_owner}}'s Shelf
    </a>
    {% endif %}
    <form method="GET" action="{% url 'myauthors:myauthors' shelf_owner.pk %}" class="d-flex flex-row">
      <input class="form-control" type="text" name="search" placeholder="Search by first or last name" />
      <button class="btns" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</section>
<section class="container">
  <h1 class="text-center">
    {% if user == shelf_owner %}My {% else %}
    <!-- Stop breaking tags-->
    {{ shelf_owner}}'s {% endif %}Author List
  </h1>
  <div>
    <p>Total Authors: {{ myauthors_count }}</p>
  </div>
  <div>
    <div class="sorter d-flex flex-row justify-content-end">
      <form method="GET" action="{% url 'myauthors:myauthors' shelf_owner.pk %}">
        <select class="form-select" name="filterkey" id="filterkey" onchange="this.form.submit();">
          <option value="default" {% if not current_filterkey %}selected{% endif %}>Filter by</option>
          <option value="first_asc" {% if current_filterkey == 'first_asc' %}selected{% endif %}>
            First Name (A-Z)
          </option>
          <option value="first_desc" {% if current_filterkey == 'first_desc' %}selected{% endif %}>
            First Name (Z-A)
          </option>
          <option value="last_asc" {% if current_filterkey == 'last_asc' %}selected{% endif %}>
            Last Name (A-Z)
          </option>
          <option value="last_desc" {% if current_filterkey == 'last_desc' %}selected{% endif %}>
            Last Name (Z-A)
          </option>
          <option value="number_asc" {% if current_filterkey == 'number_asc' %}selected{% endif %}>
            Number of Books (Least)
          </option>
          <option value="number_desc" {% if current_filterkey == 'number_desc' %}selected{% endif %}>
            Number of Books (Most)
          </option>
        </select>
      </form>
    </div>
  </div>

  {% for author in page_obj %}
  <div>
    <a href="{% url 'myauthors:myauthor-detail' pk=author.pk user_id=shelf_owner.id %}">
      <h3>{{ author }}</h3>
    </a>
  </div>
  {% empty %}
  <p>No authors found.</p>
  {% endfor %}

</section>
<!-- Pagination -->
<div class="pagination d-flex flex-row justify-content-center">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a class="links" href="?page=1">&laquo; first</a>
    <a class="links" href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a class="links" href="?page={{ page_obj.next_page_number }}">next</a>
    <a class="links" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}