{% extends "base.html" %}

<!-- load static -->
{% load static %}

<!-- Page title -->
{% block title %}FAQs{% endblock title %}

<!-- Page content -->
{% block content %}

<section class="container">
  <h1 class="text-center">Frequently Asked Questions</h1>
  <div class="col-12 col-md-8 mx-auto text-start book-shadow">
    <h2>What is Mo Leabharlann?</h2>
    <p>Mo Leabharlann is a web application that allows users to create a virtual bookshelf. Users can add books to their
      shelf, track their reading progress, and share their bookshelves with friends.</p>
    <h2>How do I get started?</h2>
    <p>Register an account to start building your personalized bookshelf. Curate your library, track your current reads,
      and stay organized.</p>
    <h2>How do I add books to my shelf?</h2>
    <p>Once you're registered, you have the power to search for books and add them to your shelf. You can either choose
      from the existing collection or add new books yourself.</p>
    <h2>What can I do with my bookshelf?</h2>
    <p>Your bookshelf goes beyond mere storage – it's your hub for managing wanted, loaned, and borrowed books.</p>
    <h2>How do I share my bookshelf?</h2>
    <p>Want to share the reading experience? Add friends to your network and compare reading habits!</p>
    <h2>How do I get in touch with the developers?</h2>
    <p>Start your literary journey today.</p>
    <p>For any questions, comments, or concerns, please <a class="links" href="{% url 'home:contact' %}">contact us</a>.</p>
  </div>
</section>

{% endblock %}
