{% extends "base.html" %}

{% load static %}

{% block title %}Friends Requests{% endblock %}

{% block content %}
<section class="container">
  <a class="btns" href="{{request.META.HTTP_REFERER}}"><i class="fa-solid fa-arrow-left"></i> Go back</a>
{% for request in friend_requests %}
<div>
  <div>
    <a class="links"
      href="{% url 'profiles:profile-detail' request.from_user.id %}">{{ request.from_user }}</a>
    wants to be friends.
    <a class="btns"
    data-hx-get="{% url 'profiles:friend-request-detail' pk=request.pk %}"
    data-hx-target="#dialog">View</a>
  </div>
</div>
<hr/>
{% empty %}
<p>No friend requests</p>
{% endfor %}    
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
