{% extends "base.html" %} {% load i18n %}
<!-- Load crispy tags-->
{% load crispy_forms_tags %}
<!-- autoformat breaking tags-->
{% block title %}{% trans "Sign Up" %}
<!-- please stop-->
{% endblock %} {% block content %}

<section class="container allauth-page py-4">
  <h1>{% trans "Sign Up" %}</h1>

  <p>
    {% blocktrans %}Already have an account? Then please
    <a class="links" href="{{ login_url }}">sign in</a>.{% endblocktrans %}
  </p>

  <form
    class="signup py-4"
    id="signup_form"
    method="post"
    action="{% url 'account_signup' %}"
  >
    {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"
    />
    {% endif %}
    <button type="submit" class="btns">{% trans "Sign Up" %} &raquo;</button>
  </form>
</section>

{% endblock %}
