{% extends "base.html" %}

<!-- Load static -->
{% load static %}

<!-- Page title -->
{% block title %}{{ book.title }}{% endblock title %} {% block content %}

<!-- Quick links-->
<section class="container">
  <div class="d-flex flex-row justify-content-evenly book-shadow">
    <a class="links" href="{% url 'books:book-list' %}">
      <i class="fa-solid fa-book"></i>
      Back To Books
    </a>
    <a class="links" href="{% url 'books:author-list' %}">
      <i class="fa-solid fa-user-pencil"></i>
      Authors
    </a>
    <a class="links" href="{% url 'books:genre-list' %}">
      <i class="fa-solid fa-bookmark"></i>
      Genres
    </a>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h1 class="text-center">{{ book.title }}</h1>
      <div class="row">
        <div class="col-6">
          {% if book.book_cover %}
          <img
            class="book-cover"
            src="{{ book.book_cover.url }}"
            alt="{{ book.title }}"
          />
          {% else %}
          <img
            class="book-cover"
            src="{% static 'images/plain-cover.png' %}"
            alt="{{ book.title }}"
          />
          {% endif %}
        </div>
        <div class="col-6">
          <h2>Author</h2>
          <p>{{ book.author }}</p>
          <h2>Genre</h2>
          <p>
            {% for genre in book.genre.all %}{{ genre|join:", " }}
            {%empty %}No genre {% endfor %}
          </p>
          <h2>Shelves</h2>
          <p>On {{ book.number_shelves}} shelves</p>
          <h2>Reads</h2>
          <p>Read {{ book.number_reads }} times</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% if user.is_authenticated %}
<section class="container">
  <h2>Your Shelf</h2>
  {% if has_book %}
  <p>You have this book on your shelf.</p>
  <a class="links" href="{% url 'mybooks:mybook-detail' has_book.id %}"
    >View your book</a
  >
  {% else %}
  <p>You don't have this book on your shelf.</p>
  <a class="btns" href="{% url 'mybooks:add-mybook' book_id=book.id %}"
    >Add To Shelf</a
  >
  {% endif %}
  <a class="links" href="{% url 'shelf:myshelf' user.pk %}">Go to your shelf</a>
</section>
{% endif %} {% endblock %}
