{% extends "base.html" %}

<!-- Title -->
{% block title %}Genres{% endblock %}

<!-- Page content -->
{% block content %}

<!-- Quick Links-->
<div class="container">
  <h1 class="text-center">Genres</h1>
  <div class="d-flex flex-column flex-md-row justify-content-evenly align-items-center book-shadow">
    <a class="links mb-2 mb-md-0" href="{% url 'home:index' %}"><i class="fa-solid fa-arrow-left"></i>
      Home
    </a>
    {% if user.is_authenticated %}
    <a class="btns mb-2 mb-md-0" href="{% url 'books:add-genre' %}"><i class="fa-solid fa-plus"></i> Add Genre</a>
    {% endif %}

    <form method="GET" action="{% url 'books:genre-list' %}" class="d-flex flex-row">
      <input class="form-control" type="text" name="search" placeholder="Search by name">
      <button class="btns" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</div>

<!-- Genre list -->
<section class="container">
  <div>
    <h2 class="text-center">Genre List</h2>
    <p>Number of genres: {{ genre_count }}</p>
  </div>

  <!-- Filtering -->
  <div class="sorter d-flex flex-row justify-content-end">
    <form method="GET" action="{% url 'books:genre-list' %}">
      <select class="form-select" name="filterkey" id="filterkey" onchange="this.form.submit();">
        <option value="default" {% if not current_filterkey %}selected{% endif %}>Filter by</option>
        <option value="name_asc" {% if current_filterkey == 'name_asc' %}selected{% endif %}>
          Name (A-Z)
        </option>
        <option value="name_desc" {% if current_filterkey == 'name_desc' %}selected{% endif %}>
          Name (Z-A)
        </option>
        <option value="popularity_asc" {% if current_filterkey == 'popularity_asc' %}selected{% endif %}>
          Popularity (Low-High)
        </option>
        <option value="popularity_desc" {% if current_filterkey == 'popularity_desc' %}selected{% endif %}>
          Popularity (High-Low)
        </option>
      </select>
    </form>
  </div>
  <!-- The list -->
  <div class="col-12 col-md-8 mx-auto"> 
    {% if query_result %}
    <div>
      <p>{{ page_obj|length }} results for "{{ query_result }}":</p>
    </div>
    {% endif %}
    {% for genre in page_obj %}
    <div class="mb-4">
      <a href="{% url 'books:genre-detail' genre.id %}">
        <h4>{{ genre }}</h4>
      </a>
      {% if user.is_authenticated %}
      {% if genre in has_genres %}
      <p>You have this genre on your shelf.</p>
      {% else %}
      <a class="btns" href="{% url 'mygenres:add-mygenre' genre_id=genre.id %}">
        <i class="fa-solid fa-plus"></i> Add To My Genres
      </a>
      {% endif %}
      {% endif %}
    </div>
    {% empty %}
    <p>No genres found.</p>
    {% endfor %}
  </div>
</section>
<!-- Pagination -->
<div class="pagination d-flex flex-row justify-content-center">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a class="links" href="?page=1">&laquo; first</a>
    <a class="links" href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a class="links" href="?page={{ page_obj.next_page_number }}">next</a>
    <a class="links" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% endblock %}