{% extends "base.html" %}

<!-- Load static -->
{% load static %}

<!-- Page title -->
{% block title %}
{% if user == shelf_owner %}My {% else %}{{ shelf_owner}}'s {% endif %}Shelf
{% endblock %}

<!-- Page content -->
{% block content %}
<section class="container">
  <div class="d-flex flex-row justify-content-evenly align-items-center book-shadow">
    {% if user == shelf_owner %}
    <a class="links" href="{% url 'shelf:myshelf' user.pk %}"
      ><i class="fa-solid fa-arrow-left"></i>
      Back to My Shelf
    </a>
    <a class="btns" href="{% url 'mybooks:add-mybook' %}"
      ><i class="fa-solid fa-plus"></i>
      Add Book
    </a>
    {% else %}
    <a class="links" href="{% url 'shelf:shelf' shelf_owner.pk %}"
      ><i class="fa-solid fa-arrow-left"></i>
      Back to {{ shelf_owner}}'s Shelf
    </a>
    {% endif %}
    <form method="GET" action="{% url 'mybooks:mybooks' shelf_owner.pk %}" class="d-flex flex-row">
      <input
        class="form-control"
        type="text"
        name="search"
        placeholder="Search by title or author"
      />
      <button class="btns" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</section>
<section class="container">
  <h1 class="text-center">
    {% if user == shelf_owner %}My {% else %}{{ shelf_owner}}'s {% endif %}Shelf
  </h1>
  <div>
    <p>Total Books: {{ mybooks_count }}</p>
  </div>
  <div>
    <div class="sorter d-flex flex-row justify-content-end">
        <form method="GET" action="{% url 'mybooks:mybooks' shelf_owner.pk %}">
            <select
            class="form-select"
            name="filterkey"
            id="filterkey"
            onchange="this.form.submit();"
            >
            <option value="default" {% if not current_filterkey %}selected{% endif %}>Filter by</option>
            <option value="title_asc" {% if current_filterkey == 'title_asc' %}selected{% endif %}>
                Title (A-Z)
            </option>
            <option value="title_desc" {% if current_filterkey == 'title_desc' %}selected{% endif %}>
                Title (Z-A)
            </option>
            <option value="author_asc" {% if current_filterkey == 'author_asc' %}selected{% endif %}>
                Author (A-Z)
            </option>
            <option value="author_desc" {% if current_filterkey == 'author_desc' %}selected{% endif %}>
                Author (Z-A)
            </option>
            <option value="genre_asc" {% if current_filterkey == 'genre_asc' %}selected{% endif %}>
                Genre
            </option>
            <option value="genre_desc" {% if current_filterkey == 'genre_desc' %}selected{% endif %}>
                Genre (Z-A)
            </option>
            <option value="date_asc" {% if current_filterkey == 'date_asc' %}selected{% endif %}>
                Date Added (Oldest)
            </option>
            <option value="date_desc" {% if current_filterkey == 'date_desc' %}selected{% endif %}>
                Date Added (Newest)
            </option>
            </select>
        </form>
    </div>
  </div>
  {% for book in page_obj %}
  <div>
    <a href="{% url 'mybooks:mybook-detail' book.id %}">
      {% if book.cover %}
      <img class="book-cover" src="{{ book.cover.url }}" alt="{{ book.title }}" />
      {% else %}
      <img class="book-cover" src="{% static 'images/plain-cover.png' %}" alt="{{ book.title }}" />
      {% endif %}
      <h2>{{ book }}</h2>
      <h3>by {{ book.book.author }}</h3>
    </a>
  </div>
  {% empty %}
  <p>No books found.</p>

  {% endfor %}
</section>

<!-- Pagination -->
<div class="pagination d-flex flex-row justify-content-center">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a class="links" href="?page=1">&laquo; first</a>
    <a class="links" href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a class="links" href="?page={{ page_obj.next_page_number }}">next</a>
    <a class="links" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% endblock %}
