{% extends "base.html" %}

<!-- Load static -->
{% load static %}

<!-- Page title -->
{% block title %}{{ mybook.book.title }}{% endblock %}

<!-- Page content -->
{% block content %}

<section class="container">
  <div class="d-flex flex-row justify-content-evenly book-shadow">
    {% if user == mybook.user %}
    <a class="links" href="{% url 'shelf:myshelf' user.pk %}"
      ><i class="fa-solid fa-arrow-left"></i>
      Back to My Shelf
    </a>
    <a class="links" href="{% url 'mybooks:edit-mybook' mybook.id %}"
      ><i class="fa-solid fa-pencil"></i>
      Edit Book
    </a>
    <a class="links" href="{% url 'mybooks:delete-book' mybook.id %}"
      ><i class="fa-solid fa-trash"></i>
      Remove Book
    </a>
    {% else %}
    <a class="links" href="{% url 'shelf:shelf' pk=shelf_owner.pk %}"
      ><i class="fa-solid fa-arrow-left"></i>
      Back to {{ mybook.user}}'s Shelf
    </a>
    <a class="links" href="{% url 'sharing:request-send' mybook.id %}">
      <i class="fa-solid fa-envelope"></i>
      Request to Borrow
    </a>
    {% endif %}
  </div>
</section>
<section class="container row mx-auto">
  <div class="col-12 col-md-8 d-flex flex-column align-items-center mt-5">
    <div>
      {% if mybook.book.cover %}
      <img
        class="book-cover"
        src="{{ mybook.book.cover.url }}"
        alt="{{ mybook.book.title }}"
      />
      {% else %}
      <img
        class="book-cover"
        src="{% static 'images/plain-cover.png' %}"
        alt="{{ mybook.book.title }}"
      />
      {% endif %}
    </div>
    <div>
      <h1>{{ mybook.book.title }}</h1>
      <h2>by {{ mybook.book.author }}</h2>
      <p>
        Genre: {% for genre in mybook.book.genre.all %}{{ genre|join:", " }}
        <!-- If no genre -->
        {%empty %}No genre {% endfor %}
      </p>
    </div>
    <div class="my-2">
      <!-- Favourite book-->
      {% if mybook.favourite %}
      <p><i class="fa-solid fa-heart"></i> Favourite</p>
      {% if user == mybook.user %}
      <a class="btns" href="{% url 'mybooks:favourite' mybook.id %}">
        <i class="fa-solid fa-heart-circle-xmark"></i> Remove from Favourites
      </a>
      {% endif %} {% else %} {% if user == mybook.user %}
      <br />
      <a class="btns mt-2" href="{% url 'mybooks:favourite' mybook.id %}">
        <i class="fa-solid fa-heart-circle-plus"></i> Add to Favourites
      </a>
      {% endif %} {% endif %}
    </div>
    <div>
      <h2><i class="fa-solid fa-book-open"></i> Summary</h2>
      {% if mybook.book.summary %}
      <p>{{ mybook.summary }}</p>
      {% else %}
      <p>No summary yet.</p>
      {% endif %} {% if user == mybook.user %}
      <a class="btns"
        data-hx-get="{% url 'mybooks:update-summary' mybook.id %}"
        data-hx-target="#dialog"
        >Edit Summary
        </a>
      {% endif %}
    </div>
  </div>
  <div class="col-12 col-md-4 book-shadow p-0">
    <div class="m-3">
      <h2><i class="fa-solid fa-book-open"></i> Reading Status</h2>
      <!-- If unread -->
      {% if mybook.number_of_times_read == 0 and unread %}
      <p>Unread</p>
      {% if user == mybook.user and not mybook.currently_reading %}
      <a
        class="btns mb-2"
        data-hx-get="{% url 'mybooks:start' mybook.id %}"
        data-hx-target="#dialog"
      >
        Start
      </a>
      {% endif %} {% else %}
      <p>Number of times read: {{ mybook.number_of_times_read }}</p>
      {% endif %}

      <!-- If currently reading-->
      {% if mybook.currently_reading %}
      <p>Currently reading</p>
      <p>Started reading on: {{ mybook.started_reading_on }}</p>
      {% if user == mybook.user %}
      <a
        class="btns mb-2"
        data-hx-get="{% url 'mybooks:finish' mybook.id %}"
        data-hx-target="#dialog"
      >
        Finish
      </a>
      <br>
      <a
        class="btns mb-2"
        data-hx-get="{% url 'mybooks:abandon' mybook.id %}"
        data-hx-target="#dialog"
      >
        Abandon
      </a>
      {% endif %} {% endif %}

      <!-- If finished -->
      {% if mybook.finished %}
      <p>Finished reading</p>
      <p>Finished reading on: {{ mybook.finished_reading_on }}</p>
      {% if user == mybook.user %}
      <a
        class="btns mb-2"
        data-hx-get="{% url 'mybooks:start' mybook.id %}"
        data-hx-target="#dialog"
      >
        Restart
      </a>
      {% endif %} {% endif %}

      <!-- If abandoned -->
      {% if mybook.abandoned %}
      <p>Abandoned</p>
      {% if user == mybook.user %}
      <a
        class="btns mb-2"
        data-hx-get="{% url 'mybooks:start' mybook.id %}"
        data-hx-target="#dialog"
      >
        Restart
      </a>
      {% endif %} {% endif %}
    </div>
    <hr />
    <div class="m-3">
      <h3><i class="fa-solid fa-bars-progress"></i> Progress</h3>
      <p>Pages Total: {{ mybook.pages_total }}</p>
      <p>Pages Read: {{ mybook.pages_read }}</p>
      <p>Percentage Read: {{ mybook.percentage_read }}%</p>
      {% if user == mybook.user %}
      <a class="btns"
        data-hx-get="{% url 'mybooks:update-progress' mybook.id %}"
        data-hx-target="#dialog"
        >Update Progress</a>
      {% endif %}
    </div>
    <hr />
    <div class="m-3">
      <h3><i class="fa-solid fa-note-sticky"></i> Notes</h3>
      {% if mybook.notes %}
      <p>{{ mybook.notes }}</p>
      {% else %}
      <p>No notes yet.</p>
      {% endif %} {% if user == mybook.user %}
      <a class="btns" 
        data-hx-get="{% url 'mybooks:update-notes' mybook.id %}"
        data-hx-target="#dialog"
        >Update Notes
      </a>
      {% endif %}
    </div>
    <hr />
    <div class="m-3">
      <h3><i class="fa-solid fa-eye-slash"></i> Visibility</h3>
      {% if mybook.private %}
      <p>Private</p>
      <a class="btns" href="{% url 'mybooks:private' mybook.id %}"
        >Make Visible</a
      >
      {% else %}
      <p>Visible on your shelf to other users.</p>
      <a class="btns" href="{% url 'mybooks:private' mybook.id %}">Hide</a>
      {% endif %}
    </div>
  </div>
</section>
<section class="container">
  {% if myreview %}
  <!-- This is where the review would go -->
  {% if user != myreview.user and myreview.private %}
  <div>
    <p>{{ myreview.user}}'s review is private.</p>
  </div>
  {% else %}
  <div>
    <h2>My Review</h2>
    <p>{{ myreview.review }}</p>
    <p>Rating: {{ myreview.rating }} / 10</p>
    <p>Posted On: {{ myreview.date_added }}</p>
    {% if user == mybook.user %}
    <a class="btns"
      data-hx-get="{% url 'review:edit-review' myreview.id %}"
      data-hx-target="#dialog"
      >Edit Review</a>
    <a class="btns-cancel" href="{% url 'review:delete-review' myreview.id %}"
      >Delete Review</a>
    {% endif %}
  </div>
  {% endif %} {% else %}
  <a class="btns"
    data-hx-get="{% url 'review:add-review' mybook.book.id %}"
    data-hx-target="#dialog"
    >Add Review</a>
  {% endif %}
</section>
{% endblock %}
<!-- Modal JS-->
{% block extra_js %}
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
