{% load static %}

<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex justify-content-between">
      <div class="container-fluid d-flex justify-content-between mx-4">
        <a class="navbar-brand d-flex" href="{% url 'home:index' %}">
          <img src="{% static 'images/logo.png' %}" alt="Mo Leabharlann" width="50" height="50">
          <p>Mo Leabharlann</p>
        </a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>        
      </div>
      <div class="container"></div>
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item text-nowrap">
              <a class="nav-link" aria-current="page" href="{% url 'shelf:myshelf' user.pk %}"><i
                  class="fa-solid fa-book"></i> My Shelf</a>
            </li>
            {% endif %}
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="{% url 'home:about' %}"><i class="fa-solid fa-circle-info"></i> About</a>
            </li>
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="{% url 'home:faqs' %}"><i class="fa-solid fa-question"></i> FAQs</a>
            </li>
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="{% url 'home:contact' %}"><i class="fa-solid fa-envelope-open-text"></i> Contact</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown text-nowrap">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-user"></i>
                My Account
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'profiles:profile-detail' user.pk %}"><i
                      class="fa-solid fa-user"></i> My Profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'account_logout' %}"><i
                      class="fa-solid fa-right-from-bracket"></i> Logout</a>
                </li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Login</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'account_login' %}"><i class="fa-solid fa-right-to-bracket"></i>
                    Sign In</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'account_signup' %}"><i class="fa-solid fa-user-plus"></i> Sign
                    Up</a>
                </li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>